modem_commands
[{"id":"28eab74f.050d88","type":"inject","z":"633b0fdb.c569f","name":"Check Serial Port","topic":"","payload":"AT","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":66,"wires":[["9cbb935b.03b4b"]]},{"id":"296fef72.56eef","type":"inject","z":"633b0fdb.c569f","name":"Manufacturer Info","topic":"","payload":"AT+CGMI","payloadType":"str","repeat":"","crontab":"","once":false,"x":124,"y":133,"wires":[["9cbb935b.03b4b"]]},{"id":"10ba5b2e.bb4e65","type":"inject","z":"633b0fdb.c569f","name":"Model Number","topic":"","payload":"AT+CGMM","payloadType":"str","repeat":"","crontab":"","once":false,"x":131,"y":194,"wires":[["9cbb935b.03b4b"]]},{"id":"3903eb71.8162f4","type":"inject","z":"633b0fdb.c569f","name":"Software Version","topic":"","payload":"AT+CGMR","payloadType":"str","repeat":"","crontab":"","once":false,"x":123,"y":253,"wires":[["9cbb935b.03b4b"]]},{"id":"983be325.6fb2b","type":"inject","z":"633b0fdb.c569f","name":"Signal Strength","topic":"","payload":"AT+CSQ","payloadType":"str","repeat":"","crontab":"","once":false,"x":122,"y":319,"wires":[["9cbb935b.03b4b"]]},{"id":"258dadcf.c4b262","type":"inject","z":"633b0fdb.c569f","name":"Registration Status","topic":"AT+CREG?","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":116,"y":390,"wires":[["9cbb935b.03b4b"]]},{"id":"65f5bcef.697a94","type":"inject","z":"633b0fdb.c569f","name":"Connection Status","topic":"","payload":"AT+CGACT?","payloadType":"str","repeat":"","crontab":"","once":false,"x":115,"y":467,"wires":[["9cbb935b.03b4b"]]},{"id":"2cb119e7.ee2f16","type":"inject","z":"633b0fdb.c569f","name":"Operator Info","topic":"","payload":"AT+COPS?","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":539,"wires":[["9cbb935b.03b4b"]]},{"id":"971aca28.0d0488","type":"inject","z":"633b0fdb.c569f","name":"Connection Profiles","topic":"","payload":"AT+CGDCONT?","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":616,"wires":[["9cbb935b.03b4b"]]},{"id":"e422f882.1d91b8","type":"serial out","z":"633b0fdb.c569f","name":"Simcom Serial-In","serial":"93485f7d.0073f","x":605,"y":42,"wires":[]},{"id":"9cbb935b.03b4b","type":"function","z":"633b0fdb.c569f","name":"Add Newline","func":"msg.payload = msg.payload + \"\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":319,"wires":[["e422f882.1d91b8"]]},{"id":"cc04d685.9c0418","type":"debug","z":"633b0fdb.c569f","name":"","active":true,"console":"false","complete":"false","x":816,"y":290,"wires":[]},{"id":"93485f7d.0073f","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"\\n\\r","bin":"false","out":"char","addchar":false}]